.article {
    position: relative;
    top: calc(20vh + 1em);
    display: grid;

    #banner {
        width: 100%;
        max-height: auto;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-weight: 100;
        font-style: italic;
        text-align: center;
        text-align: center;
    }

    .cover-img {
        height: auto;
        width: 100%;
    }

    &__section {
        margin: 2em 0;
        p {
            font-size: 1.5rem;
            line-height: 1.8;
        }
    }

    .container {
        transform: none;
    }

    blockquote {
        font-size: var(--font-category);
        font-style: italic;
        border-left: 5px solid var(--clr-rose);
        padding: 10px 20px;
    }

    .time {
        font-style: italic;
        font-size: var(--font-paragraph);
        text-align: right;
    }

    a {
        font-size: 1.5rem;
    }

    @media (max-width: 576px) {
        h1 {
            position: relative;
            top: 0;
            font-size: var(--font-category);
        }

        .container {
            width: 80%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
