.burger {
    position: absolute;
    top: 40%;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
        outline: none;
    }

    div {
        width: 2rem;
        height: 0.15rem;
        background: var(--clr-black);
        border-radius: 5px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;

        &:first-child {
            transform: rotate(0);
        }

        &:first-child.open {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            transform: translateX(0);
            opacity: 1;
        }

        &:nth-child(2).open {
            transform: translateX(20px);
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(0);
        }

        &:nth-child(3).open {
            transform: rotate(-45deg);
        }
    }
}

@media (min-width: 578px) {
    .burger {
        display: none;
    }
}
