.card {
    padding: 0 2.8em;
    margin-bottom: 5rem;
    background: var(--clr-white);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);

    display: grid;
    grid-template-areas:
        "img body"
        "date body";
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.5em;

    &__image {
        grid-area: img;
        transform: translateY(-10%);
        border: 1px solid var(--clr-darkgray);
        height: 300px;
        max-width: 500px;
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.25);
    }

    &__body {
        grid-area: body;
    }

    &__title {
        transition: color 0.3s ease;

        &:hover {
            color: var(--clr-darkgray);
        }
    }

    &__line {
        grid-area: line;
        width: 80%;
        height: 3px;
        background: var(--clr-rose);
        transform: translateY(-10px);
    }

    &__content {
        p:last-child {
            display: inline;
        }
    }

    &__category {
        font-style: italic;
    }

    &__bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__publishedAt {
        grid-area: date;
        padding-bottom: 1rem;

        h4,
        h5 {
            position: relative;
            color: var(--clr-fulldate);
            margin: 0;
            margin-top: -1rem !important;
        }

        h4 {
            font-size: var(--font-page-title);
        }

        h5 {
            font-size: var(--font-article-title);
        }
    }

    .date,
    .month {
        display: block;
    }

    a {
        font-size: var(--font-paragraph);
    }
}

.fa-arrow-right {
    font-size: calc(var(--font-category) * 1.5);
    color: var(--clr-darkgray);
    transition: color 0.3s linear;

    &:hover {
        color: var(--clr-rose);
    }
}

@media (max-width: 576px) {
    .card {
        padding: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;

        &__image,
        &__body,
        &__publishedAt {
            padding: 0 2em;
        }

        &__body {
            order: 2;
        }

        &__publishedAt {
            order: 1;
            padding-top: 1em;

            .date,
            .month {
                display: inline-block;
            }
        }
    }
}
