svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: 10vh;

    @media (max-width: 576px) {
        max-width: 360px;
        width: 50vw;
        height: auto;
    }
}

circle {
    animation: 3s move alternate infinite;
}

@keyframes move {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(550px);
    }
}
