.container {
    max-width: 1100px;
    width: 60%;
    margin: 0 auto;
    transform: translateY(20vh);

    h1 {
        margin: 2.2em 0;
        color: lighten(#4a4a4a, 50%);
    }

    img {
        width: 100%;
    }

    @media (max-width: 576px) {
        width: 85vw;

        h1 {
            text-align: center;
        }

        img {
            height: 15em;
            width: auto;
        }
    }
}
